.icon {
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (min-device-width: 320px) and (max-device-width: 819px) {
    .copyRight {
        font-size: 20px;
    }
}